@font-face {
    font-family: ComicSans;
    src: url("fonts/ComicSans.ttf");
}

body{
    text-align: center;
    margin: auto;
    align-items: center;
}

.titulo{
    font-family: ComicSans, sans-serif;
}